.app {
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-family: 'Lobster';
}

.intro p {
  color: #666;
  font-weight: 200;
  font-size: 1.2em;
}
